* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #fafafa;
}

/* Global Styles */
:root {
  --primary-color: #1ea4ce;
  --secondary-color: #147597;
  --third-color: #f2f0fd;
}

#header {
  width: 100vw;
  height: 76px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}

.header-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1236px;
  display: flex;
  justify-content: center;
}

.logo-container {
  justify-self: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-itself {
  height: 40px;
}

#cart {
  position: absolute;
  right: 0;
  width: 129px;
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#cart:hover {
  cursor: pointer;
}

.hoverable:hover {
  cursor: pointer;
}

.cart-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-items {
  display: flex;
  gap: 8px;
}

.total-price {
  color: #fff;
  transform: translateY(2px);
}

.cartDetail {
  position: absolute;
  right: 0;
  top: 116px;
  width: 296px;
  /* height: 340px; */
  border: 8px solid var(--primary-color);
  border-radius: 2px;
}

.cart-detail-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item {
  width: 100%;
  height: 85px;
  padding: 25px;
}

.cart-item-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-name-price-bundle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.cart-item-name {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
  font-weight: 300;
}

.cart-item-price {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
}

.cart-item-quantity-bundle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.cart-item-quantity {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
}

.seperator {
  margin-top: 18px;
  width: 100%;
  height: 1px;
  background-color: #f4f4f4;
}

.total-sum {
  width: 100%;
  padding: 16px;
}

.total-sum-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  max-width: 92px;
  padding: 17px 24px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 2px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

#products {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 608px;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.products-title {
  font-size: 20px;
  font-weight: 400;
  color: #6f6f6f;
}

.product-type-selector-container {
  display: flex;
  gap: 8px;
}

.product-type {
  padding: 6px 16px;
  background-color: var(--third-color);
  color: var(--primary-color);
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  border-radius: 2px;
}

.product-type:hover {
  cursor: pointer;
}

.selected-product-type {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

.product-items {
  width: 100%;
  background-color: #fff;
  padding: 20px;
}

.product-items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.product-item-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.product-item-image-container {
  padding: 16px;
  border: 2px solid #f3f0fe;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-item-image {
  width: 92px;
  height: 92px;
  object-fit: contain;
}

.product-price {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.product-title {
  text-align: left;
  color: #191919;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.add-button {
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 2px;
  padding: 1px 0px;
  margin-top: auto;
}

.add-button:hover {
  cursor: pointer;
}

.add-button-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}
